.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }
  
  .auth-form {
    width: 100%;
    margin-top: 24px;
  }
  
  .center-link {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .center-link a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
  }